    <div class="container">
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-outline-warning btn-block btnIrrigation" id="valveNW">NortWest</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-warning btn-block btnIrrigation" id="valveN">North</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-warning btn-block btnIrrigation" id="valveNE">NorthEast</button>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-outline-warning btn-block btnIrrigation" id="valveW">West</button>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>

    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-outline-warning btn-block btnIrrigation" id="valveSW">SouthWest</button>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-warning btn-block btnIrrigation" id="valveSE">SouthEast</button>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-warning btn-block btnIrrigation" id="pumpWell">Pump Well</button>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-warning btn-block btnIrrigation" id="pumpTank">Pump Tank</button>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-danger btn-block" id="shutDown">ShutDown</button>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/EndUserSignalR.js"></script>